@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@200;300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'DM Sans', sans-serif;
}
body {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #1cb5e0, #000851);
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}
section {
  padding: 0 10%;
}
.section--slogan {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bolder;
  color: red;
  letter-spacing: 2px;
  margin: 10px 0;
}
.section--heading {
  font-size: 2rem;
  margin: 1rem 0 2.3rem 0;
}
